<div class="jumbotron <%= @api_color %>">
  <h1 class="display-4"><%= @final_output %></h1>
  <p class="lead">This is the current ozone content for the specified location in USA</p>
  <hr class="my-4">
  <p>Hit 'Reload' to update reading</p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>

<br/>

